* {
  box-sizing: border-box;
}

#fform {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.f_container input {
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  background: #eeeeee;
}
.f_container select {
  border: none;
  padding: 6px 15px;
  margin: 8px 0;
  width: 100%;
  background: #eeeeee;
}

.f_container {
  top: 12%;
  left: -50%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 200%;
  height: 100%;
  min-height: 375px;
  position: relative;
  align-items: center;
  border: 2px solid red;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
}
label {
  justify-items: left;
  justify-content: left;
  padding: 4px;
  font-weight: bold;
  text-align: left;
}
.value {
  text-align: left;
}
.f-container {
  position: absolute;

  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.Navlink{
  position: absolute;
  top: 99%;
  left: 40%;
}
.f_container ::placeholder {
  color: black;
}
.Navlink:hover {
  background-color: #1026f0;
}
#aeroplane {
  position: absolute;
  background-image: url("https://www.dl.dropboxusercontent.com/s/5beukq1zg37jlr7/airbus.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 70px;
  -webkit-animation: movingplane 5s linear infinite;
  -moz-animation: movingplane 5s linear infinite;
  -o-animation: movingplane 5s linear infinite;
}
@keyframes movingplane {
  0% {
    top: 8%;
  }
  0% {
    margin-left: 50%;
  }
}
.form-data{
  top: 0;
  position: absolute;
  left: 0%;
  text-align: left;
}
.nologinf h1{
  font-family: 'Baloo Bhai';
  color:  white;
}
.nologinf1 h2{
  font-family: 'Baloo Bhai';
  color:  white;
}
 




.authcontainer {
    width: 1200px;
    margin: 0 auto;
}

.nomain {
  position: absolute;
 
}

.main2 {
    text-align: center;
}

.main2 p {
  /* position: absolute; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
    color: #fff;
    font-size: 50px;
    margin: 0 0 30px;
  letter-spacing: 8px;
  font-family: 'Open Sans', sans-serif;
}

.main2 button {
  position: absolute;
    background: #8a6dd4;
    color: #fff;
    padding: 10px;
    width: 220px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 17px;
    top: 55%;
    left: 42%;
}

.main2 button:hover {
    border-radius: 5px;
}



.saturn {
    width: 500px;
}

.ufo1 {
  position: absolute;
    top: 50px;
    background-repeat: no-repeat;
  z-index: 999;
    width: 150px;
  -webkit-animation: ufo1 10s linear infinite;
}

@keyframes ufo1 {
  0% {
    margin-left:1100px;
  }
  100% {
    margin-left: -100px;
  }
}

 .ufo2 {
  position: absolute;
    bottom: 50px;
    background-repeat: no-repeat;
  z-index: 999;
    width: 150px;
  -webkit-animation: ufo2 10s linear infinite; 

}

@keyframes ufo2 {
  0% {
    margin-left:-1100px;
  }
  100% {
    margin-left: 1100px;
  }
}