@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
  .h_container {
    top: 50%;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
  }
    .h_card {
      position: relative;
      top: 90%;
      width: 300px;
      height: 400px;
      margin: 0 auto;
      background: #000;
      border-radius: 15px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
      
    }
    #nav .h_conatiner{
      float: left;
      display: block;
      transition: top 0.3s;
      justify-content: space-around;
      display: flex;
    }
      .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .face1 {
          box-sizing: border-box;
          padding: 20px;
        }
          .h_conatiner h2 {
            margin: 0;
            padding: 0;
          }

          .vm {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .tj {
            background-color: #00fffc;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .golconda {
            background-color: #fc00ff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .goi {
            background-color: #fc00ff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .goi2 {
            top: 70%;
            background-color: #fc00ff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

        

        .face2 {
          transition: 0.5s;
        }
        .h_conatiner h2 {
            margin: 0;
            padding: 0;
            font-size: 10em;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
          }

    .h_card:hover .face.face2 {
      height: 60px;

      .h_conatiner h2 {
        font-size: 2em;
      }
    }

    .h_card:nth-child(1) .face.face2 {
      background-image: url('./media/victoria\ memorial.jpeg');
      border-radius: 15px;
    }

    .h_card:nth-child(2) .face.face2 {
      background-image: url('./media/tajmahal.jpeg');
      border-radius: 15px;
    }

    .h_card:nth-child(3) .face.face2 {
      background-image: url('./media/Golconda.jpg');
      border-radius: 15px;
    }
    .h_card:nth-child(4) .face.face2 {
      background-image: url('./media/goi.jpg');
      border-radius: 15px;
    }
    .h_card:nth-child(5) .face.face2 {
      background-image: url('./media/goa.jpg');
      border-radius: 15px;
    }
    .h_card:nth-child(6) .face.face2 {
      background-image: url('./media/kerala.jpg');
      border-radius: 15px;
    }
    .h_card:nth-child(7) .face.face2 {
      background-image: url('./media/ladakh.jpg');
      border-radius: 15px;
    }
    .h_card:nth-child(8) .face.face2 {
      background-image: url('./media/AMRITSAR.jpg');
      border-radius: 15px;
    }
    .h_card:nth-child(9) .face.face2 {
      background-image: url('./media/abudhabi.jpg');
      border-radius: 15px;
    }
    .h_card:nth-child(10) .face.face2 {
      background-image: url('./media/eifeltower.jpg');
      border-radius: 15px;
<<<<<<< HEAD
    }
    .h_card:nth-child(11) .face.face2 {
      background-image: url('./media/Colosseum.jpg');
      border-radius: 15px;
    }
 
 
=======
    }
>>>>>>> b2814cdd1bffb6dae0e2c9cf7624108c32bcd45e
