.hcon {
    position: absolute;
    left: 25%;
    top: 130%;
    width: 50%;
    height: 30%;
    margin: 0 auto;
    padding: 40px 0;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    z-index: 10;
    background-color: white;
  }
  .hcon .ing {
    position: absolute;
    top: 12%;
    left: 2%;
    height: 85%;
  }
  .hcon h1 {
    position: absolute;
    left: 38%;
  
    top: 15%;
  }
  .hcon2 {
    position: absolute;
    left: 25%;
    top: 175%;
    width: 50%;
    height: 30%;
    margin: 0 auto;
    padding: 40px 0;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    z-index: 10;
    background-color: white;
  }
  .hcon2 .ing {
    position: absolute;
    top: 8%;
    left: 2%;
    height: 90%;
  }
  .hcon2 h1 {
    position: absolute;
    left: 40%;
    top: 17%;
  }
  .hcon .arr {
    position: absolute;
    left: 55%;
    width: 25%;
    top: 15%;
  }
  .hcon2 .arr {
    position: absolute;
    left: 55%;
    width: 25%;
    top: 15%;
  }
  .hcon h2{
    position: absolute;
    top: 30%;
    left: 40%;
  }
  .hcon .rating{
    position: absolute;
    top: 0;
    left:65%;
    height:69%;
  }
  .hcon hr {
    width: 50%;
    position: absolute;
    left: 38%;
    top: 30%;
    border-top: 4px solid black;
    
  }
  .hcon .price{
    position: absolute;
    top: 35%;
    left: 80%;
  }
  .hcon h3{
    position: absolute;
    left: 80%;
    top: 45%;
  }
  .hcon .check{
    position: absolute;
    width: 15%;
    left: 38%;
    top: 60%;
  }
  .hcon h4{
    position: absolute;
    left: 41%;
    top: 51%;
  }
  .hcon .check1{
    position: absolute;
    width: 15%;
    left: 38%;
    top: 73%;
  }
  .hcon .food{
    position: absolute;
    left: 41%;
    top: 65%;
  }
.hcon button{
  position: absolute;
  top: 75%;
  left: 80%;
}
.hcon2 h2{
  position: absolute;
  top: 30%;
  left: 42%;
}
.hcon2 .rating{
  position: absolute;
  top: 0;
  left:76%;
  height:69%;
}
.hcon2 hr {
  width: 50%;
  position: absolute;
  left: 40%;
  top: 30%;
  border-top: 4px solid black;
  
}
.hcon2 .price{
  position: absolute;
  top: 35%;
  left: 84%;
}
.hcon2 h3{
  position: absolute;
  left: 84%;
  top: 45%;
}
.hcon2 .check{
  position: absolute;
  width: 15%;
  left: 40%;
  top: 60%;
}
.hcon2 h4{
  position: absolute;
  left: 43%;
  top: 52%;
}
.hcon2 .check1{
  position: absolute;
  width: 15%;
  left: 40%;
  top: 74%;
}
.hcon2 .food{
  position: absolute;
  left: 44%;
  top: 66%;
}
.hcon2 button{
position: absolute;
top: 75%;
left: 81%;
}
.hcon .roomav{
  position: absolute;
  width: 35%;
  left: 60%;
  top: 50%;
}
.hcon2 .roomav{
  position: absolute;
  width: 35%;
  left: 60%;
  top: 50%;
}